.App {
  height: 100vh;
  background-image: url("../images/space-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
  font-family: 'Major Mono Display', monospace;
}
