#nav-arrow {
  color: white;
  padding-left: 7px;
}

.selling-points {
  float: left;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 70px;
  font-size: 15px;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-y: hidden;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 47px;
  /* margin-left: 38%; */
}

nav {
  margin-left: 33px;
  width: 100px;
  height: 22px;
  text-transform: uppercase;
  text-align: left;
  padding-left: 9px;
  /* background-color: #1839e0; */
}

.icon {
  color: white;
  margin-left: 10px;
}

.Library {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.dexter .willie .beethven {
  width: 26%;
}

.selling-point-text {
  text-align: center;
  height: 30px;
  align-content: center;
  justify-content: center;
  font-weight: 700;
  margin: 0 auto;
}

.dexter {
  width: 26%;
  margin-left: 5%;
}

.beethoven {
  width: 26%;
}

.willie {
  width: 26%;
  margin-right: 5%;
}

.dexter-image {
  background-image: url("../images/dexter.jpg");
  width: 250px;
  height: 250px;
  margin: 30px auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.willie-image {
  background-image: url("../images/willie-nelson.jpg");
  width: 250px;
  height: 250px;
  margin: 30px auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.beethoven-image {
  background-image: url("../images/beethoven.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  margin: 30px auto;
}
