.player-controls {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
}


.icon {
  color: black;
  margin: 0;
}

.current-total-time {
  font-size: 10px;
  font-weight: 700;
  margin-top: 3px;
  margin-right: 20px;
}

#player {
  display: flex;
}

button {
  margin-right: 10px;
  border-radius: 5px;
}

.volume-bar {
  width: 50px;
}

.seek-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.fa-volume-up {
  margin-right: 5px;
}
